.container{
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.card {
  align-self: center;
  justify-self: center;
  border-radius: 7px;
  background-color: #fff;
  color: #000;
  padding: 15px;
  box-shadow: #c3c3c3 5px 3px 15px;
}